.contrastColor {
  background-color:rgba(0, 0, 0, 0.77) !important;
}

.backColor {
    background-color: #1C1C1C;
}

#feedback {
    color: white;
}

#signupBox {
    width: 600px;
    display: table;
    margin: 0 auto;
}

@media only screen and (max-width: 700px) {
    #signupBox {
        width: 300px;
    }
}

.attributeCard {
    min-height: 300px;
    width: 450px;
    padding: 15px;
    -webkit-box-shadow: 8px 10px 12px 1px rgba(0,0,0,0.35);
    -moz-box-shadow: 8px 10px 12px 1px rgba(0,0,0,0.35);
    box-shadow: 8px 10px 12px 1px rgba(0,0,0,0.35);
    border: 3px solid darkgreen;
    border-radius: 8px;
    background: #2A2A2A;
}

.editAttributeBar {
    position: absolute;
    right: 15;
    color: white;
}

.editButton, .deleteButton {
    cursor: pointer;
}

#editLogInput {
    text-align: center;
}

.attributeCard:hover {
    border-style: dashed !important;
}

.tooltip.in {
  opacity: 1;
}

.boxTitle {
    font-size: 14pt;
    font-weight: bold;
    color: #e0e0e0;
}

.boxDescription {
    font-size: 10pt;
    color: lightgray;
}

.boxInput {
    margin: 25px;
}

.datepicker {
    margin: 0 auto;
}

.boxDatepicker {
    display: none;
    margin-bottom: 15px;
}

.logButton {
    float: right;
    margin-top: 15px;
}

#logAlert {
    position: absolute;
    right: 10px;
    top: 70px;
    display: none;
}

#usernameLogin {
    margin-right: 5px;
}

.nottodayButton {
    margin-bottom: 15px;
}

.grayBorder {
    border: 1px solid gray;
}

.slider-track {
    background: lightgray;
}

.slider-selection {
    background: gray;
}

.slider-handle {
    background: darkgreen;
}

.datepicker-inline {
    background: #e0e0e0;
}

.table-condensed {
    margin: auto !important;
}

.close {
    color: white;
    text-shadow: none;
}

.close:hover {
    color: #5A5A5A;
}

.dropdown-menu {
    background-color: #5A5A5A;
}

.dropdown-item:hover {
    background-color: #5A5A5A;
}





/* on off switch */
.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    margin: auto;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Yes";
    padding-left: 10px;
    background-color: darkgreen; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "No";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; height: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
